.container-project {
    width: 100%;
    display: flex;
}
.tagline-project {
    text-align: center;
    color: #354d8f;
    padding: 50px 0;
}
.project-section {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    margin: auto;
    flex-basis: 1260px;
    .card {
        transition: all 0.2s ease;
        flex-basis: 400px;
        margin: 10px;
        width: 400px;
        border-radius: 17px;
        box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.3);
        height: 200px;
        position: relative;
        overflow: hidden;
        img {
            transition: all 0.2s ease;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .fov {
            background-color: rgb(0, 0, 0, 0.5);
            top: 0;
            position: absolute;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;
            h1 {
                position: absolute;
                margin-top: calc((200px / 2) - 16pt);
                width: 100%;
                font-size: 16pt;
                text-align: center;
                color: white;
            }
            .lang {
                position: absolute;
                gap: 10px;
                flex-wrap: wrap;
                bottom: 10px;
                left: 5%;
                display: flex;
                width: 90%;
                span {
                    font-size: 8pt;
                    background-color: rgba(255, 255, 255, 0.8);
                    height: 12pt;
                    font-weight: 600;
                    padding: 5px 10px;
                    border-radius: 12px;
                }
            }
        }
    }

    /* Hovering Card */
    .card:hover {
        img {
            transform: scale(1.1);
        }
    }
}

@media only screen and (max-width: 1260px) {
    .project-section {
        flex-basis: 840px;
    }
}
@media only screen and (max-width: 840px) {
    .project-section {
        flex-basis: 420px;
    }
}
